* {
  margin: 0;
  border: 0;
  padding: 0;
  list-style-type: none;
}

body {
  font-family: Arial, sans-serif;
}

.gb_8a {
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: -1px;
    overflow: hidden;
    position: relative;
    height: 32px;
    width: 32px;
    z-index: 0;
}

.gbii {
    background-image: url(https://lh3.googleusercontent.com/-gtlSjUUBj7U/AAAAAAAAAAI/AAAAAAAAAAA/AAyYBF4AAI407vbI6guAb4tZKezLfL_9Mw/s32-c-mo/photo.jpg);
}
/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

body {
    -webkit-user-select: none;
    background: none transparent;
    color: #323232;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

a {
    display: block;
}

a,
a:active,
a:hover,
a:visited {
    color: inherit;
    text-decoration: none;
}

#most-visited {
    -webkit-user-select: none;
    margin: 0;
    text-align: -webkit-center;
}

#mv-tiles,
.mv-tiles-old {
    -webkit-user-select: none;
    font-size: 0;
    height: calc(146px + 130px);
    line-height: 146px;
    margin: 0;
    opacity: 0;
    position: absolute;
    /* This align correctly for both LTR and RTL */
    text-align: -webkit-auto;
    transition: opacity 1s;
}

.mv-tile,
.mv-empty-tile {
    background: rgb(242,242,242);
    border: 1px solid transparent;
    border-radius: 2px;
    box-sizing: border-box;
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 12px;
    height: calc(130px - 2px);
    line-height: 100%;
    margin: 0 8px;
    opacity: 1;
    outline: 0;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    white-space: nowrap;
    width: calc(156px - 2px);
}

.mv-tile.hidden,
.mv-empty-tile.hidden {
    display: none;
}

.mv-tile {
    cursor: pointer;
    transition-duration: 200ms;
    transition-property: transform, border, box-shadow, margin, opacity, width;
}

.mv-tile:focus:not(:hover) {
    -webkit-filter: brightness(75%);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 4px 8px 0 rgba(0,0,0,0.2);
}

.mv-tile.blacklisted {
    border: none !important;
    margin: 0;
    transform: scale(0, 0);
    width: 0;
}

.mv-tile:hover {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 4px 8px 0 rgba(0,0,0,0.2);
}

.mv-tile.mv-blacklist {
    margin-left: 0;
    margin-right: 0;
    opacity: 0;
    transform: scale(0, 0);
    transform-origin: 0 41px;
    width: 0;
}

.mv-title {
    -webkit-mask-image:
            linear-gradient(to right, #000, #000, 100px, transparent);
    border: none;
    height: 15px;
    left: 31px;
    line-height: 14px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-overflow: clip;
    top: 8px;
    width: calc(156px - 32px - 4px);
}

.mv-title.multiline {
    white-space: pre-wrap;
    word-wrap: break-word;
}

html:not([dir=rtl]) .mv-title[style*='direction: rtl'] {
    -webkit-mask-image:
            linear-gradient(to left, black, black, 100px, transparent);
    left: auto;
    right: 8px;
    text-align: right;
}

html[dir=rtl] .mv-title {
    left: 8px;
    text-align: left;
}

html[dir=rtl] .mv-title[style*='direction: rtl'] {
    -webkit-mask-image:
            linear-gradient(to left, black, black, 100px, transparent);
    right: 31px;
    text-align: right;
}

.mv-thumb {
    border: none;
    border-radius: 0;
    cursor: pointer;
    display: block;
    height: 94px;
    left: 3px;
    overflow: hidden;
    position: absolute;
    top: 31px;
    width: 148px;
}

.mv-thumb img {
    height: auto;
    min-height: 100%;
    width: 100%;
}

.mv-thumb.failed-img {
    background-color: #fff;
    height: 94px;
    width: 148px;
}

/* We use ::after without content to provide an aditional element on top of the
 * thumbnail. */
.mv-thumb.failed-img::after {
    border: 8px solid #f2f2f2;
    border-radius: 50%;
    content: '';
    display: block;
    height: 0;
    margin: 39px 66px;
    width: 0;
}

.mv-x {
    background: linear-gradient(to left, rgb(242,242,242) 60%, transparent);
    border: none;
    cursor: pointer;
    height: 30px;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: opacity 150ms;
    width: 40px;
}

/* We use ::after without content to provide the masked X element. The "bottom"
 * div is actually just the gradient. */
.mv-x::after {
    -webkit-mask-image: -webkit-image-set(
            url(chrome-search://local-ntp/images/close_3_mask.png) 1x,
            url(chrome-search://local-ntp/images/close_3_mask.png@2x) 2x);
    -webkit-mask-position: 12px 10px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 10px 10px;
    background-color: rgba(90,90,90,0.7);
    content: '';
    display: block;
    height: 32px;
    position: absolute;
    right: 0;
    width: 32px;
}

html[dir=rtl] .mv-x {
    background: linear-gradient(to right, rgb(242,242,242) 60%, transparent);
    left: -1px;
    right: auto;
}

html[dir=rtl] .mv-x::after {
    left: -1px;
    right: auto;
}

.mv-x:hover::after {
    background-color: rgb(90,90,90);
}

.mv-x:active::after {
    background-color: rgb(66,133,244);
}

.mv-tile:hover .mv-x {
    opacity: 1;
    transition-delay: 500ms;
}

.mv-x:hover {
    transition: none;
}

.mv-favicon {
    background-size: 16px;
    height: 16px;
    left: 7px;
    margin: 0;
    pointer-events: none;
    position: absolute;
    top: 7px;
    width: 16px;
}

html[dir=rtl] .mv-favicon {
    left: auto;
    right: 7px;
}

.mv-favicon.failed-favicon {
    background-image: -webkit-image-set(
            url(chrome-search://local-ntp/images/ntp_default_favicon.png) 1x,
            url(chrome-search://local-ntp/images/ntp_default_favicon.png@2x) 2x);
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

.mv-favicon img {
    height: 100%;
    width: 100%;
}

.mv-favicon.failed-favicon img {
    display: none;
}




div {
    text-align: justify;
}

div img {
    display: inline-block;
    width: 100px;
    height: 100px;
}

div:after {
    content: '';
    display: inline-block;
    width: 100%;
}






#nav-bar {
  height: 150px;
  margin-top: 20px;
  margin-right: 30px;
  position: absolute;
  right: 10px;
}
#nav-bar li {
  display: inline-block;
  padding: 5px;
  vertical-align: middle;
}
#nav-bar a {
  text-decoration: none;
  color: black;
}

#nav-bar a:hover {
  opacity: 1;
  text-decoration: underline;
}

.nav-bar-opacity {
  opacity: 0.7;
}

#menu-icon {
  background-image: url("https://ssl.gstatic.com/gb/images/i2_2ec824b0.png");
  width: 30px;
  height: 30px;
  background-position: -132px -38px;
  background-size: 528px 68px;
}

#menu-icon:hover {
  opacity: 1;
}

#sign-in {
  padding: 8px 11px;
  background-color: #4285f4;
  border-radius: 2px;
}

#sign-in-text {
  color: white !important;
  font-weight: bold;
  text-decoration: none !important;
}

.main-content {
  position: relative;
  width: 450px;
  height: 250px;
  margin: 0 auto;
  top: 25vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.main-content img {
  width: 272px;
  height: 92px;
}

#search-bar {
  position: relative;
  flex-basis: 100%;
  height: 40px;
  margin-top: 20px;
  border-radius: 1px;
  border: solid 1px #DDD;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
}

#search-bar:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

input {
  position: relative;
  width: 400px;
  height: 100%;
  left: 10px;
  font-size: 20px;
}

input:focus {
  outline-style: none;
}

#speech-link img {
  position: absolute;
  display: block;
  width: 32px;
  height: auto;
  z-index: 1;
  bottom: 4px;
  left: 388px;
}

.buttons {
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons button {
  width: 160px;
  height: 45px;
  background-color: rgb(240, 240, 240);
  margin: 20px 5px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 3px;
}
p {
  opacity: 0.5;
}
.buttons button:hover p {
  opacity: 1;
}
.buttons button:hover {
  border: solid 1px #BBB;
}
footer {
  position: absolute;
  width: 100vw;
  bottom: 0;
}
.bottom-nav {
  display: flex;
  height: 40px;
  justify-content: space-around;
  align-items: center;
  background-color: #EEE;
  opacity: 0.5;
  border-top: solid 1px #CCC;
}
footer li {
  display: inline;
  margin: 0 20px;
  font-size: 14px;
}
footer a {
  text-decoration: none;
  color: black;
}
.ul-left {
  position: absolute;
  left: 0;
  top: 10px;
}
.ul-right {
  position: absolute;
  right: 0;
  top: 10px;
}
footer a:hover {
  text-decoration: underline;
}
