body {
    background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/seigaiha.png");
    font-family: CURSIVE, century gothic, footlight mt light;
    color: #7b3487;
    text-shadow: 0 0px 5px rgba(119, 7, 84, 0.5);
}

#header {
    margin: 0 38%;
    font-size: 50px;
    position: absolute;
    /*text-shadow: #770754;*/
}

.zone {
    width: 223px;
    /*border: 1px solid #644bff;*/
    display: inline-block;
    /*margin: 100px 200px;*/
    margin: 5% 41%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    outline: none;
}

#zoneSize > div > input {
    margin: 5px 15px;
    width: 60px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    font-size: 23px;
    color: #7b3487;
    box-shadow: 0 0px 5px rgba(119, 7, 84, 0.9);
    text-shadow: 0 0px 5px rgba(119, 7, 84, 0.3);
    background: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/cork-wallet.png');
    cursor: pointer;
    font-family: CURSIVE;
}

#zoneSize > div > input:hover {
    padding-top: 2px;
    box-shadow: inset 0 0 20px rgba(0,0,0,.2),  0 2px 0 rgba(255, 255, 255,.4), inset 0 2px 0 rgba(0,0,0,.1);
    opacity: .9;
}

#zone div {
    display: inline-block;
    padding: 1px;
}

.zone1 {
    width: 370px;
    /*border: 1px solid #644bff;*/
    display: inline-block;
    margin: 5% 35%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    outline: none;
}

#zone div input {
    width: 70px;
    height: 70px;
    /*padding: 9px;*/
    border: 1px solid #770754;
    border-radius: 3px;
    text-align: center;
    font-size: 70px;
    color: #7b3487;
    outline: none;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-shadow: 0 0px 5px rgba(119, 7, 84, 0.3);
    background: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/cork-wallet.png');
    font-family: CURSIVE;
    /*font-family: CENTURY GOTHIC;*/
    /*filter: blur(.8px);*/
}

